.container {
  background-color: #ef6348;
  position: absolute;
  width: 100%;
  height: 6.8rem;
  bottom: 0;
  font-size: 5em;
  right: 0;
  display: flex;
  align-items: end;
}
.icon {
  color: black;
  cursor: pointer;
  position: relative;
  margin-right: 3rem;

  left: 80%;
}
