nav {
  position: absolute;
  top: 0rem;
  right: 3rem;
  padding: 2rem;
  display: flex;
}
.active {
  background-color: #ef6348;
  border-radius: 40%;
}
.logo {
  width: 60rem;
  height: 20rem;
}
.icon {
  height: 5rem;
  width: 5rem;
  padding: 3rem;
  cursor: pointer;
}
.box {
  width: 2rem;
  height: 2rem;
  background-color: yellow;
}
