@import "../abstracts/mixins";
.home_container {
  background-color: #f9ab55;
  width: auto;

  position: relative;

  .timer {
    width: auto;
    height: 44.4rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .home_text {
      position: relative;
      font-weight: 700;
      font-size: 15rem;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      line-height: 2rem;
      font-family: "Rowdies", cursive;
      @include respond(phone) {
        font-size: 17em;
      }
    }
    .box_1 {
      width: 47rem;
      height: 26rem;
      position: absolute;
      border: 5px solid #000000;
      background: #ef6348;
      z-index: 3;
      @include respond(phone) {
        width: 50em;
      }
    }
    .box_2 {
      width: 47rem;
      height: 26rem;
      border: 5px solid #000000;
      background: #2669b8;
      z-index: 2;
      position: absolute;
      transform: matrix(0.99, -0.17, 0.16, 0.99, 0, 0);
      @include respond(phone) {
        width: 50em;
      }
    }
    .box_3 {
      position: absolute;
      z-index: 1;
      width: 47rem;
      height: 26rem;
      background: #f5bb12;
      border: 5px solid #000000;
      transform: matrix(1, -0.07, 0.07, 1, 0, 0);
      @include respond(phone) {
        width: 50em;
      }
    }
  }
}
