.Footer_bar {
  background-color: #ef6348;

  text-align: center;
  justify-content: center;

  font-size: 5em;
  padding: 2rem;

  .icon {
    color: black;
    cursor: pointer;
    padding: 3rem;
  }
}
