@import "../abstracts/mixins";
.colorContainer {
  display: flex;
  place-items: center;
  justify-content: space-between;

  padding: 3rem;

  .themeColor_1 {
    cursor: pointer;

    width: 3rem;
    height: 3rem;
    background-color: rgb(12, 57, 205);
  }
  .themeColor_2 {
    cursor: pointer;

    width: 3rem;
    height: 3rem;
    background-color: red;
  }
  .themeColor_3 {
    cursor: pointer;

    width: 3rem;
    height: 3rem;
    background-color: rgb(11, 179, 98);
  }
  .themeColor_4 {
    cursor: pointer;

    width: 3rem;
    height: 3rem;
    background-color: rgb(214, 9, 128);
  }
  .themeColor_5 {
    cursor: pointer;

    width: 3rem;
    height: 3rem;
    background-color: rgb(223, 243, 5);
  }
  .active {
    background-color: #ef6348;
    border-radius: 40%;
  }
}
