@import "../abstracts/mixins";
.navBar {
  background-color: #f9ab55;
  display: flex;

  position: relative;

  justify-content: space-between;

  @include respond(tab-land) {
    flex-wrap: wrap;

    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .navIcons {
    display: flex;
    padding: 2rem;
    height: 11rem;
    .icon {
      height: 5rem;
      width: 5rem;
      padding: 3rem;
      cursor: pointer;
    }
  }
  .logo {
    @include respond(tab-land) {
      align-items: center;
      justify-content: center;
    }
    @include respond(tab-port) {
      align-items: center;
      justify-content: center;
      width: 100em;
      height: 30em;
    }
    @include respond(phone) {
      width: 50em;
      height: 20em;
    }
  }
}

.active {
  background-color: #ef6348;
  border-radius: 40%;
}
