body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Rowdies";
  font-size: 62.5%;
}
h1 {
  position: relative;
  text-align: center;
  font-size: 8.8rem;
  font-weight: 700;
  line-height: 2rem;

  padding-bottom: 0.5em;
  border-bottom: 5px solid black;
}
input {
  font-size: 5rem;
  display: flex;
  margin-left: 3rem;
  width: 8.7rem;
  height: 4rem;
  text-align: center;
  background: #fdeaea;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 1.4rem;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal {
  position: fixed;
  top: 10vh;
  left: calc(50% - 30rem);
  width: 60rem;
  background-color: white;
  padding: 2rem;
  border-radius: 6.6rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;
}

.icons {
  float: left;
  height: 6rem;
  width: 6rem;
}
.headerBox {
  display: flex;
  max-height: 6.5rem;
  padding: 1rem;
  border-bottom: 3px solid transparent;
  border-image: linear-gradient(
    0.25turn,
    rgba(245, 187, 18, 1),
    rgba(239, 99, 72, 1),
    rgba(56, 2, 155, 0)
  );
  border-image-slice: 1;
  width: 100%;
}
.headerTitle {
  width: 100%;
  line-height: 1.75;
  font-weight: 400;
  font-size: 3.6rem;
  padding-left: 2rem;
  letter-spacing: 0.16em;
  text-transform: capitalize;
  font-style: normal;
}
.setting {
  padding: 1rem;
  display: flex;
}
.workDesc {
  width: 100%;
  line-height: 1.75;
  font-weight: 400;
  font-size: 2.4rem;
  padding-left: 2rem;
  letter-spacing: 0.16em;
}
.setBox {
  padding: 2rem;
  margin-bottom: 1rem;
}
/* .workDesc {
  display: block;
} */
/* @media (min-width: 768px) {
  .modal {
    width: 40rem;
    left: calc(50% - 20rem);
  }
} */

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
