.container {
  background-color: #ef6348;

  max-width: auto;
  text-align: center;
  justify-content: center;
  max-height: 7rem;
  font-size: 5em;
  padding: 1.3rem;
}
.icon {
  color: rgb(44, 38, 38);
  cursor: pointer;
}

@media (max-width: 75em) {
  .container {
    max-width: 140rem;
    background-color: rgb(227, 10, 10);
  }
}
