.colorContainer {
  display: flex;
  place-items: center;

  margin-left: 5rem;
  margin-right: 5rem;
  max-width: 100%;
}
.themeColor_1 {
  cursor: pointer;

  margin: 3rem;
  flex: auto;
  width: 3rem;
  height: 4rem;
  background-color: rgb(12, 57, 205);
}
.active {
  background-color: #ef6348;
  border-radius: 40%;
}
.themeColor_2 {
  cursor: pointer;
  margin: 3rem;
  flex: auto;
  width: 3rem;
  height: 4rem;
  background-color: red;
}
.themeColor_3 {
  cursor: pointer;
  margin: 3rem;
  flex: auto;
  width: 3rem;
  height: 4rem;
  background-color: rgb(11, 179, 98);
}
.themeColor_4 {
  cursor: pointer;
  margin: 3rem;
  flex: auto;
  width: 3rem;
  height: 4rem;
  background-color: rgb(214, 9, 128);
}
.themeColor_5 {
  cursor: pointer;
  margin: 3rem;
  flex: auto;
  width: 3rem;
  height: 4rem;
  background-color: rgb(223, 243, 5);
}
